name: Mirror to GitLab

on:
  push:
    branches:
      - main
      - application-notebooks
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          test -n "${{ secrets.GITLAB_USER }}" || { echo "GITLAB_USER is missing"; exit 1; }
          test -n "${{ secrets.GITLAB_TOKEN_NEW }}" || { echo "GITLAB_TOKEN_NEW is missing"; exit 1; }
          git remote add gitlab https://${{ secrets.GITLAB_USER }}:${{ secrets.GITLAB_TOKEN_NEW }}@gitlab.com/s.dierks/lemurcalls.git
          git remote -v
          git push --mirror gitlab
